<nav class="sci-fi-nav">
  <a routerLink="/helmet" routerLinkActive="active">Helmet Viewer</a>

  <div class="dropdown">
    <button class="dropdown-button">Animation ▼</button>
    <div class="dropdown-content">
      <a routerLink="/animation-action" routerLinkActive="active"
        >Animation Action</a
      >
      <a routerLink="/animation-clip" routerLinkActive="active"
        >Animation Clip</a
      >
      <a routerLink="/animation-mixer" routerLinkActive="active"
        >Animation Mixer</a
      >
      <a routerLink="/animation-objct-group" routerLinkActive="active"
        >Animation Object Group</a
      >
    </div>
  </div>
</nav>
